/*menu*/
a{
    text-decoration: none;
}
.menu1 li:first-child {
    
}
.menu1 li > a:hover{
    color: rgb(44, 226, 226);
}
.menu1 li > a{
    color: white;
}
.menu1 li {
    color: rgb(236, 235, 235);
    display: inline-block;
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    
}
.menu {
    background-color: #182e4f;
    font-size: 13px;
    height: 80px;
    display: flex;
}
.menu1 {
    list-style: none;
    padding: 0;
  }
  
  .menu1 > li {
    position: relative; /* Để xác định vị trí tương đối cho phần tử cha */
  }
  
  .submenu {
    display: none; /* Ban đầu ẩn danh sách con */
    position: absolute;
    top: 30px; /* Đặt top bằng độ cao của phần tử cha */
    left: 0;
    background-color: #e2e5e7; /* Màu nền của danh sách con */
    padding: 1px 2px 1px 2px;
    width: 85px;

   
  }
  
  .menu1 > li:hover .submenu {
    display: block; /* Hiển thị danh sách con khi trỏ chuột vào phần tử li */
  }
  .submenu > li{
    border-bottom: solid 1px rgb(180, 176, 176);
    padding: 8px;
  }
  .submenu > li > a{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
/*đơn dk*/
.dk{
    margin-top: 20px;
    margin-bottom: 20px;
}
.dk .dau{
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    border: #182e4f solid 1px;
    border-top: 6px solid #182e4f;
    
}
.dk .in4{
    width: 56%;
    margin-left: 20%;
    border-radius: 20px;
    border: #182e4f solid 1px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 2% 20px 2%;
}
.in4 p{
    font-size: 18px;
}
.in4 input{
    border: none;
    font-size: 16px;
    outline: none;
    width: 450px;
    border-bottom: solid 1px rgb(202, 199, 199);
}
.in4 .select{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.in4 .select > input{
    width: auto;
}
/*footer*/
.footer{
    background-color: #182e4f;
    height: 450px;
   padding-top: 30px;
   display: flex;
}
.footer .thongtin >p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
}
.footer .thongtin{
    padding: 10px 15px;
    width: 30%;
    margin-left: 5%;
    
}
.dichvu .content >li{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer .dichvu{
    padding: 10px 15px;
    width: 29.5%;
    margin-left: 0.5%;
}
.footer .ttlh > i > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer .ttlh > p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
}
.footer .ttlh{
    padding: 10px 15px;
    width: 29.5%;
    margin-left: 0.5%;
    margin-right: 5%;
}